.row
  .span12
    %h2 Completed Interviews
    %table.table.table-bordered.table-striped
      %thead
        %tr
          %th Name
          %th Time
          %th Notes
          %th Controls
      %tbody
        - @interviews.each do |i|
          %tr
            %td=@list_applicants.find(i.applicant_id).name
            %td=i.interview_at.strftime(" %B %d at %I:%M %p")
            %td=i.notes
            %td controls here
