.row
  .span12
    %h3 Your interview time is:

    %h2=@interview.interview_at.strftime("%l:%M%P on %A, %B %e")

    %hr

    %p If you can't make it and need to change your time, please e-mail us <a href="mailto:hello@codefellows.org">hello@codefellows.org</a>.

    %p Interviews are 10 minutes long. Please be prepared to talk about why you'd like to be in Code Fellows, how you'll take advantage of the program, and what you want to do when you complete the program.

    %p For the interview, please bring a resume and be prepared to talk about why you want to learn Rails, how you'll take advantage of the program, and what you want to do when you finish the program. We will also ask some simple coding questions. We're looking for motivated individuals who will seize this opportunity and become an amazing engineer.

    %p For Skype video interviews, please add 'Codefellows' as a contact. We'll call you at the interview time.

    %p NOTE: All times are Pacific (we're in Seattle!)


