.row
  .span12
    %ul.nav.nav-pills
      %li{:class => "#{'active' if current_page?(dashboard_path)}"}= link_to "Dashboard", dashboard_path
      %li{:class => "#{'active' if current_page?(dashboard_users_path)}"}= link_to "Users", dashboard_users_path
      %li{:class => "#{'active' if current_page?(dashboard_interviews_path)}"}= link_to "Timeslots", dashboard_interviews_path
      %li{:class => "#{'active' if current_page?(interviews_path)}"}= link_to "Completed Interviews", interviews_path
